# supabase/config.toml
project_id = "hkmdrcvtbupjiumbxwzn"

[api]
port = 54321
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 15
max_client_conn = 100

[studio]
port = 54323

[realtime]
enabled = true

[auth]
enabled = true
site_url = "http://localhost:3000"
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10

[auth.email.template.confirmation]

[auth.sms]
enable_confirmations = true

[analytics]
enabled = false
